@typeparam TValue
<div class="choice @Class @SelectedClass" @onclick="@HandleClickAsync" style="@Style">
    @ChildContent
</div>

@functions {
    // Gets the nearest cascaded value of this type from ancestors
    [CascadingParameter] IChoiceGroup Group { get; set; }

    // Regular parameters, including one with generic type inference
    [Parameter] RenderFragment ChildContent { get; set; }
    [Parameter] string Class { get; set; }
    [Parameter] string Style { get; set; }
    [Parameter] TValue Value { get; set; }

    string SelectedClass
        => Value != null && Value.Equals(Group.Value) ? "selected" : "";

    Task HandleClickAsync()
    {
        return Group.SetValueAsync(Value);
    }
}
