<div class="mdc-list">
    <MdcNavLink Href="" Icon="home" Text="Home" Match=NavLinkMatch.All />
    <MdcNavLink Href="agents" Icon="people" Text="Agents" />
    <MdcNavLink Href="agents-list" Icon="person_pin" Text="Agents (list)" />
</div>
