@inject Microsoft.JSInterop.IJSRuntime JS
@typeparam TPin

<div class="pin-map" @ref="mapElem">
    @foreach (var item in Data)
    {
        <map-pin @key="item" data-longitude="@PinLongitude(item)" data-latitude="@PinLatitude(item)">
            @PinTemplate(item)
        </map-pin>
    }
</div>

@code {
    ElementReference mapElem;

    [Parameter] public IEnumerable<TPin> Data { get; set; }
    [Parameter] public Func<TPin, double> PinLongitude { get; set; }
    [Parameter] public Func<TPin, double> PinLatitude { get; set; }
    [Parameter] public RenderFragment<TPin> PinTemplate { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
        => await JS.InvokeAsync<object>(
            "PinMap.createOrUpdate",
            new object[] { mapElem, new[] { -74.00633, 40.71341 } });
}
