@inherits LayoutComponentBase

<header class="fixed-top">
    <NavLink href="" Match="NavLinkMatch.All">
        Model
        <div class="chevron"></div>
    </NavLink>
    <NavLink href="options">
        Options
        <div class="chevron"></div>
    </NavLink>
    <NavLink href="finance">
        Finance
        <div class="chevron"></div>
    </NavLink>
    <NavLink href="delivery">
        Delivery
    </NavLink>
</header>

<article class="main">
    @Body
</article>
